@font-face {
  font-family: "MyFont";
  src: url(./assets/fonts/Roboto-Medium.ttf) format("ttf");
  font-weight: 900;
  font-style: normal;
}

:root {
  font-family: "Roboto", sans-serif;
  background-color: grey;
  font-size: 1.3rem;
}

.hidden {
  display: none;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: burlywood;
}

aside {
  grid-area: 2 / 1 / 3 / 2;
  background-color: aqua;
}

main {
  grid-area: 2 / 2 / 3 / 3;
  min-width: 1000px;
  background-color: blueviolet;
}

/* footer {
  grid-area: 3 / 1 / 4 / 3;
} */

button {
  padding: 0.7em 0;
  width: 100px;
  border-radius: 10px;
}

textarea {
  resize: none;
}

.main-content {
  width: 90%;
  margin: 0 auto;
}

.task-form > * {
  display: flex;
  flex-direction: column;
}

.task-form,
.btn-container {
  padding: 1.2rem;
  background-color: blue;
  width: 80%;
}

.btn-container {
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
